# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

#ignore ALL main files and repeated functions
*main.c
*func.c # reviewed functions

# ignore executables
Requiescat
a
b
c
hello
incitatous
