# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/
test/
*__/

# ignore main files
*main.py
*main.c
7-main_2.c
7-main_3.c
*-
00.py
01.py
02.py
03.py
04.py
05.py
06.py
07.py
08.py
09.py
10.py
11.py
a
b
c
d
e
h
i
j
