# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# ignore putchar
_putchar.c

#ignore ALL main files and repeated functions
*main.c
*func.c

# ignore executables
a
b
f
